body {
    background: slategray;
}

#allocades {
    margin: 10px;
    text-align: center;
    
}

.allocades-even {
    height: 150px;
    width: 150px;
    margin: 5px;
}

#portrait {
    width: 30%;
    clear: both;
    float: left;
    margin-right: 10px;
}

.clear {
    clear: both;
}


#intro-header {
    font-size: 1.2em;
    
}

#intro {
    margin: 10px;
}


.fi-page-search {
    font-size: 30px;
}
.fi-social-linkedin {
    font-size: 30px;

}
.fi-social-facebook {
    font-size: 30px;
    color: #006591;
}
.fi-social-twitter {
    font-size: 30px;
    padding-right: -50px;
}

.fi-mail {
    font-size: 20px;
    padding-right: 10px;
}

.fi-results {
    font-size: 20px;
    padding-right: 10px;
}

.social {
    height: 45px;
}

#headericon {
    margin-right: 10px;
}

.contactlabel {
    margin-top: 7px;
}
#subbtn {
    float: right;
    margin-right: 265px;
}

#contactheader {
    margin-bottom: 20px;
}
.tel {
    color: white;
    margin: 10px;
}

#free {
    
}



/*

}#header-img {
    width: auto;
    height: 50px;
    margin: 4px 4px 4px 96px;
}


.top-bar {
    background: white !important;
    height: 58px !important;
}

.toggle-topbar {
    background: none !important;

}

/** Removes black background on menu bar **/
/*
.top-bar-section li {
    background: none !important;
    height: 58px !important;
}
.top-bar-section li:hover {
    background: gray !important;
}
.menu-item {
    color: black !important;
    height: 58px !important;
    padding-top: 8px!important;
}

/** Removes black background on menu item **/

/*
}.top-bar-section li a:not(.button) {
    background: none !important;
}

.has-dropdown li{
    background: white !important;
}
.has-dropdown li:hover{
    background: gray !important;
}
**/


/*
nav.top-bar {
    text-align:center;
}
section.top-bar-section {
    display: inline-block;
}