body {
    background: slategray;
}

#allocades {
    margin: 10px;
    text-align: center;

}

.allocades-even {
    height: 150px;
    width: 150px;
    margin: 5px;
}

#portrait {
    width: 30%;
    clear: both;
    float: left;
    margin-right: 10px;
}

.clear {
    clear: both;
}


#intro-header {
    font-size: 1.2em;

}

#intro {
    margin: 10px;
}


.fi-page-search {
    font-size: 30px;
}
.fi-social-linkedin {
    font-size: 30px;

}
.fi-social-facebook {
    font-size: 30px;
    color: #006591;
}
.fi-social-twitter {
    font-size: 30px;
    padding-right: -50px;
}

.fi-mail {
    font-size: 20px;
    padding-right: 10px;
}

.fi-results {
    font-size: 20px;
    padding-right: 10px;
}

.social {
    height: 45px;
}

#headericon {
    margin-right: 10px;
}

.contactlabel {
    margin-top: 7px;
}
#subbtn {
    float: right;
    margin-right: 265px;
}

#contactheader {
    margin-bottom: 20px;
}
.tel {
    color: white;
    margin: 10px;
}
#consultation {
    margin: -4px 5px 0 0;
}

#subbtn {
    float: right;
    margin-right: 100px;
}



.top-bar {
    background: #FFCBCB !important;
    overflow: visible;
}




.top-bar-section li:not(.has-form) a:not(.button) {
    background: #EF6E6E !important;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;
}


.top-bar-section ul li {
    background: lightblue !important;
    height: 45px;
}

.top-bar-section ul {
    background-color: aquamarine !important;
}





/*
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
border-left: solid 1px red;
border-right: solid 1px red;
}

.top-bar-section .has-form {
background:yellow;
}

.top-bar-section li a:not(.button):hover {
background:gray !important;
}

.top-bar-section .dropdown li:not(.has-form) a:not(.button) {
color: white;
background: red !important;
}
.top-bar-section ul.dropdown li a:hover:not(.button) {
background-color: green !important;
}
*/



/*
Changes top most bar color
.top-bar {
background-color: #94aaff !important;
}
*/

/*
Changes unordered list color in top bar sections
.top-bar-section ul {
background-color: #3ffff0 !important;
}
*/

/*
Changes color or right side unordered lists
.top-bar-section ul.right {
background-color: #ff45ea !important;
}
*/

/*
Changes colors of <a> tags within a list item
.top-bar-section li a:not(.button) {
background-color: #3cc671 !important;
}
*/

/*
Changes color of top bar section active list item within unordered lists
.top-bar-section ul li.active > a {
background-color: #e5ff78 !important;

}
*/

/*
Change color or dropdown menu title when hover over items in the dropdown.
.top-bar-section li:hover a {
background-color: #b56bff !important;
}
*/

/*
Changes color of topbar section uordered list list items
.top-bar-section ul li > a {
background-color: #4ff1ff !important;
}
*/

/*
Changes the color of undordered items in the dropdown menu
.top-bar-section ul.dropdown {
background-color: #c7922d !important;
}
*/

/*
Changes the background color of the dropdown menu arrow
.top-bar-section .has-dropdown > a:after {
background-color: #eb355f !important;
}
*/


